body {
  font-family: 'Poppins', sans-serif;
}

.card {
  border: none;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
}

.thumb-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid #555;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.thumb-img:hover {
  border-color: #0d6efd;
}
